<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <link href="/css/tailwind.css" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iKON Studios</title>
    <link rel="icon" href="/images/favicon.webp" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <script
    src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js"
    defer
  ></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function (OneSignal) {
      await OneSignal.init({
        appId: "9aad3e00-b01f-4dce-a398-69a1b3bc0188",
        safari_web_id:
          "web.onesignal.auto.1ee85315-99d2-4859-abe2-d0d2d86b4cd7",
        notifyButton: {
          enable: true,
        },
      });
    });
  </script>
  <body class="page">
    <div class="topnav" id="myTopnav">
      <a href="/home">Home</a>
      <a href="/scan-in">Scan In</a>
      <a href="/scan-out">Scan Out</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/create-asset">Create Asset</a>
      <a href="/remove-asset">Remove Asset</a>
      <% }%>
      <a href="/asset-logs" class="active">Asset Logs</a>
      <a href="/search">Search</a>
      <a href="/settings">Settings</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/users">Users</a>
      <a href="/asset-viewer">Asset Viewer</a>
      <% }%>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="flex">
      <main class="flex-1 p-4">
        <div id="pageTitleName" class="flex justify-center">
          <h1 class="text-2xl font-bold mb-4">Asset Logs</h1>
        </div>
        <div id="pageTitleDescription" class="flex justify-center"></div>
        <div class="p-4"></div>

        <div class="bg-white shadow-md rounded-lg p-4">
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left">Barcode</th>
                <th class="text-left">Asset Name</th>
                <th class="text-left">Description</th>
                <th class="text-left">Action</th>
                <th class="text-left">Reason</th>
                <th class="text-left">Timestamp</th>
                <th class="text-left">User</th>
              </tr>
            </thead>
            <tbody>
              <% assetLogs.forEach(log => { %> <%if (log.type == 'IN') { %>
              <tr style="color: green" class="rowHover">
                <td><%= log.barcodeId %></td>
                <td><%= log.name %></td>
                <td><%= log.description %></td>
                <td><%= log.action %></td>
                <td><%= log.reason %></td>
                <td><%= log.timestamp %></td>
                <td><%= log.user %></td>
              </tr>
              <% } else { %>
              <tr style="color: red" class="rowHover">
                <td><%= log.barcodeId %></td>
                <td><%= log.name %></td>
                <td><%= log.description %></td>
                <td><%= log.action %></td>
                <td><%= log.reason %></td>
                <td><%= log.timestamp %></td>
                <td><%= log.user %></td>
              </tr>
              <%}})%>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
