<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/navmenu.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>

    <title>LSA | Dashboard</title>
    <link rel="icon" href="/images/daynnightlogo.png" type="image/x-icon" />
  </head>
  <body class="page">
    <!-- NAV BAR START-->
    <div id="nav-bar">
      <div id="nav-header">
        <a id="nav-title" href="/"
          ><img
            class="supportIcon"
            src="./images/CALIRP_support.png"
            alt="SupportLogo"
          /><i class="title"> Support Team</i></a
        >
        <hr />
      </div>
      <div id="nav-content">
        <a class="nav-button" href="/">
          <i class="fas fa-desktop"></i><span>My Dashboard</span>
        </a>
        <a class="nav-button" href="/my-tickets">
          <i class="fas fa-ticket"></i><span>My Tickets</span>
        </a>
        <a class="nav-button" href="/new-ticket">
          <i class="fas fa-receipt"></i><span>Log a Ticket</span>
        </a>
        <a class="nav-button" href="/roster">
          <i class="fas fa-address-book"></i><span>Roster</span>
        </a>
        <a
          class="nav-button"
          href="https://calirp-or-support-team.gitbook.io/knowledgebase/"
        >
          <i class="fas fa-book"></i><span>Knowledgebase</span>
        </a>
        <% if (user.isStaff) { %>
        <hr />
        <a class="nav-button" href="/lsa-dashboard">
          <i class="fas fa-laptop"></i><span>LSA Dashboard</span>
        </a>
        <a class="nav-button" href="/punishments">
          <i class="fas fa-circle-exclamation"></i><span>Punishments</span>
        </a>
        <a class="nav-button" href="/ticket-manager">
          <i class="fas fa-clipboard-list"></i><span>Ticket Management</span>
        </a>
        <% } %> <% if (user.superAdmin) { %>
        <hr />
        <a class="nav-button" href="/user-management">
          <i class="fas fa-users"></i><span>User Management</span>
        </a>
        <a class="nav-button" href="/admin">
          <i class="fas fa-user-shield"></i><span>Admin Menu</span>
        </a>
        <% } %>
        <hr />
        <a class="nav-button" href="/settings">
          <i class="fas fa-gear"></i><span>Settings</span>
        </a>
        <a class="nav-button" href="/logout">
          <i class="fas fa-right-to-bracket"></i><span>Logout</span>
        </a>
        <div id="nav-content-highlight"></div>
      </div>
      <div id="nav-footer">
        <div id="nav-footer-heading">
          <div id="nav-footer-avatar">
            <img
              src="<%= user.avatar ? `https://cdn.discordapp.com/avatars/${user.discordId}/${user.avatar}.png` : 'default-avatar.png' %>"
            />
          </div>
          <div id="nav-footer-titlebox">
            <a id="nav-footer-title" target="_blank"><%= user.username %></a>
            <p id="nav-footer-subtitle"><%= rank %></p>
          </div>
        </div>
        <div id="nav-footer-content">
          <ul class="dropdown" aria-label="submenu">
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- NAV BAR END-->
    <div class="flex">
      <main class="flex-1 p-4">
        <div class="p-4"></div>
        <div class="flex justify-center">
          <h1 class="mb-6 text-3xl text-white font-bold underline">
            Lead Support Agent - Dashboard
          </h1>
        </div>

        <div class="p-4"></div>
        <div class="p-4"></div>
        <div class="doubleCont">
          <div class="contentContainer float-left">
            <h1 class="text-3xl font-semibold mb-4">Members LOA</h1>
            <p class="mb-6 text-2xl"><%= loaCount %> Agents</p>
          </div>
          <div class="flex p-6"></div>
          <div class="contentContainer float-right">
            <h1 class="text-3xl font-semibold mb-4">Members Inactive</h1>
            <h2 class="mb-6 text-2xl"><%= memberTotal %> Agents</h2>
          </div>
        </div>
        <div class="flex p-8"></div>

        <div class="doubleCont">
          <div class="flex p-6"></div>

          <div class="contentContainer float-left">
            <h1 class="text-3xl font-semibold mb-4">Members in Team</h1>
            <p class="mb-6 text-2xl"><%= memberTotal %> Agents</p>
          </div>
          <div class="flex p-6"></div>
          <div class="contentContainer float-right">
            <h1 class="text-3xl font-semibold mb-4">Teams Total Tickets</h1>
            <p class="mb-6 text-2xl"><%= totalTickets %> Tickets</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
<script>
  function deletePunish() {
    alert("Punishment Deleted!");
  }
</script>

<style>
  .bg-purp {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 0, 128);
  }
  .doubleCont {
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    position: static;
  }
  .contentContainer {
    width: 100%;
    border-radius: 0.5rem;
    float: left;
    background-color: #18283b;
    padding: 15px;
    color: white;
    border: solid 2px black;
    filter: drop-shadow(0 50px 25px rgb(0 0 0 / 0.15));
  }
  .contentContainer:hover {
    transform: scale(1.01);
    transition: 0.3s;
  }
</style>
