<!-- @format -->
<!-- 
8047587 - James
8040536 - Chris
8043422 - Don'roy
8033952 - Daniel
8053143 - William
0834955 - Ahmed
 -->

<!DOCTYPE html>
<html lang="en">
  <link href="/css/tailwind.css" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iKON Studios</title>
    <link rel="icon" href="/images/favicon.webp" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <script
    src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js"
    defer
  ></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function (OneSignal) {
      await OneSignal.init({
        appId: "9aad3e00-b01f-4dce-a398-69a1b3bc0188",
        safari_web_id:
          "web.onesignal.auto.1ee85315-99d2-4859-abe2-d0d2d86b4cd7",
        notifyButton: {
          enable: true,
        },
      });
    });
  </script>
  <body class="page">
    <div class="flex">
      <main class="flex p-4">
        <div class="flex justify-center">
          <h1 class="text-2xl font-bold mb-4"></h1>
        </div>
        <div id="tables">
          <!-- TABLE START-->
          <div class="bg-white shadow-md rounded-lg p-4">
            <h1 class="text-3xl">Kit Room</h1>
            <div class="p-4"></div>
            <table class="tableSize">
              <thead>
                <tr>
                  <th class="">Barcode</th>
                  <th class="">Name</th>
                  <th class="">Description</th>
                  <th class="">Category</th>
                  <th class="">Location</th>
                  <th class="">Status</th>
                </tr>
              </thead>
              <tbody>
                <% assets.forEach(a => { %><% if (a.status == 'Available') { %>
                <tr class="rowHover">
                  <td><%= a.barcodeId %></td>
                  <td><%= a.name %></td>
                  <td><%= a.description %></td>
                  <td><%= a.category %></td>
                  <td><%= a.location %></td>
                  <% if (a.status == 'Available') { %>
                  <td style="color: green; font-weight: bolder;"><%= a.status %></td>
                  <% } else if (a.status !== 'Available') { %>
                  <td style="color: red; font-weight: bolder;"><%= a.status %></td>
                  <% } %>
                </tr>
                <%}})%>
              </tbody>
            </table>
          </div>
          <!-- TABLE END-->
          <div class="p-4"></div>
          <!-- TABLE START-->
          <div class="bg-white shadow-md rounded-lg p-4">
            <h1 class="text-3xl">Kit Marked Out</h1>
            <div class="p-4"></div>
            <table class="tableSize">
              <thead>
                <tr>
                  <th class="">Barcode</th>
                  <th class="">Name</th>
                  <th class="">Description</th>
                  <th class="">Category</th>
                  <th class="">Location</th>
                  <th class="">Status</th>
                </tr>
              </thead>
              <tbody>
                <% assets.forEach(a => { %><% if (a.status !== 'Available') { %>
                <tr class="rowHover">
                  <td><%= a.barcodeId %></td>
                  <td><%= a.name %></td>
                  <td><%= a.description %></td>
                  <td><%= a.category %></td>
                  <td><%= a.location %></td>
                  <% if (a.status == 'Available') { %>
                  <td style="color: green; font-weight: bolder;"><%= a.status %></td>
                  <% } else if (a.status !== 'Available') { %>
                  <td style="color: red; font-weight: bolder;"><%= a.status %></td>
                  <% } %>
                </tr>
                <%}})%>
              </tbody>
            </table>
          </div>
          <!-- TABLE END-->
          <div class="p-4"></div>
        </div>
      </main>
    </div>
  </body>
</html>
<style>
  #tables {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
  th {
    background-color: #909090;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    color: #f2f2f2;
  }
  td {
    padding: 0 15px 5px 15px;
    margin: 5px;
    font-size: 20px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .tableSize {
    width: 100%;
    min-width: 30%;
  }
</style>
<script>
  setTimeout(function () {
    window.location.reload(1);
  }, 2000);
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
