<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iKON Studios</title>
    <link rel="icon" href="/images/favicon.webp" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="page">
    <div class="topnav" id="myTopnav">
      <a href="/home" class="active">Home</a>
      <a href="/scan-in">Scan In</a>
      <a href="/scan-out">Scan Out</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/create-asset">Create Asset</a>
      <a href="/remove-asset">Remove Asset</a>
      <% }%>
      <a href="/asset-logs">Asset Logs</a>
      <a href="/search">Search</a>
      <a href="/settings">Settings</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/users">Users</a>
      <a href="/asset-viewer">Asset Viewer</a>
      <% }%>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="container mx-auto p-6 rounded-lg shadow-md">
      <div class="flex justify-center">
        <h1 id="title" class="mb-6 text-3xl text-white font-bold underline">
          User Management Panel
        </h1>
      </div>
      <input
        class="border-black"
        type="text"
        id="searchInput"
        onkeyup="myFunction()"
        placeholder="Search ID"
      />
      <form id="userManageTable" action="/update-users" method="POST">
        <div class="mt-6 text-right right-2"></div>
        <div class="table-responsive">
          <table id="myTable">
            <tr>
              <th>logon_id</th>
              <th>Name</th>
              <th>Discord ID</th>
              <th>Google ID</th>
              <th>Access Level</th>
              <th>Phone Number</th>
              <th></th>
              <% usersData.forEach(user => { %> %>
            </tr>

            <tr>
              <td><%= user.logon_id %></td>
              <td><%= user.displayName %></td>
              <td><%= user.discordId %></td>
              <td><%= user.googleId %></td>
              <td><%= user.access %></td>
              <td><%= user.phoneNumber %></td>
              <td>
                <button
                  id="editUser"
                  type="submit"
                  onclick="sendPopUp(event)"
                  class="right-px absolute bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                >
                  Edit User
                </button>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
        <div class="p-4"></div>
      </form>
    </div>
  </body>
</html>

<style>
  @media screen and (max-width: 600px) {
    body .table {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .table .tr {
      display: flex;
      flex-direction: column;
    }

    .table .td {
      white-space: nowrap;
    }
  }
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: normal;

    border: 1px solid #ddd;
  }
  tbody {
    justify-self: center;

    width: 100%;
  }

  tr,
  td,
  th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 100%;

    padding: 0px 25px 0px 25px;
    margin: 10px;
  }
  #editUser {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0 25px;
  }

  tr:nth-child(even) {
    background-color: #162230;
  }

  tr:hover {
    background-color: #494d50;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8d8d8d;
    color: rgb(0, 0, 0);
  }

  input {
    border: solid 1px white;
    color: white;
    background-color: var(--background);
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .bg-purp {
    color: rgb(255, 255, 255);
  }
  .rosterBoarder {
    border: 2px solid rgb(70, 70, 70);
  }
  .rowHover:hover {
    background-color: #494d50;
    color: rgb(0, 0, 0);
  }

  .underline {
    text-decoration: underline;
  }
  #title {
    word-wrap: normal;
  }
</style>
<script>
  function sendPopUp(event) {
    console.log(event);
    if (
      !confirm(
        "Are you sure you'd like to continue with these changes? \n\nClick OK to continue."
      )
    ) {
      event.preventDefault();
    }
  }
  function myFunction() {
    // Declare variables
    console.log('Running Search')
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    console.log(table);

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
